@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, light --prefers-light;
}
@import "swiper/css/pagination";
@import "swiper/css";

.swiper-pagination-bullet-active {
  background-color: var(--color-green-500) !important;
}

.font-poppins {
  font-family: "Poppins", serif;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  animation: rotate 0.5s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 8px solid var(--color-green-500);
  animation: prixClipFix 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@font-face {
  font-family: VideoJS;
  src: url(/assets/fonts/VideoJS-61a3aebe36c89fc3b5006571532f21c8.woff?h=6e6d4c8a8281293530b07acdd3e57ec0)
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
